@tailwind base;
@tailwind components;
@tailwind utilities;

/* Altına senin özel siber renklerin gelecek */
:root {
  --background: #030712;
  --foreground: #ffffff;
}

body {
  background-color: #030712 !important; /* Arka planı siyaha zorla */
  color: white;
}
